img {
    width: 70%;
    height: 70%;

}

@media only screen and (max-width: 600px) {
    img {
        padding-left: 100px;
        margin-top: -300px;
        width: 90%;
        height: 90%;
    }
  }