h1 {
    font-size: 50px!important;
    font-family: 'Parisienne', cursive;
}

.cliente{
    font-weight: 500;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    background-color: #93A6A2;
    color: white;
    border: none;
    
}

.cliente:hover{
    font-weight: 500;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    background-color: #93A6b9;
    color: white;
    border: none;
    
}

.profissional{
    font-weight: 500;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    background-color: #93A6A2;
    color: white;
    border: none;
}

.profissional:hover{
    font-weight: 500;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    background-color: #93A6b9;
    color: white;
    border: none;
}

@media only screen and (max-width: 600px) {
    .mobile {
        margin-left: 10px;
        margin-right: 10px;
    }
    .cliente {
        align-items: center!important;
    }
  }